{% extends "_base.html.j2" %}

{% block header %}
  <h1>Error! ({{ error_code }})</h1>

  <p>{{ error_description }}.</p>
{% endblock %}

{% block content %}
  <section>
    <p>You can go back to the <a href="/">home page</a>.</p>
  </section>
{% endblock %}
